:root {
  --background-dark: #14121F;
  --text-dark: #E2DDFE;
 
}

.App {
  text-align: center;
  background-color: var(--background-dark);
}

.dark-text {
  color: var(--text-dark);
  margin: 0;
}

div {
  margin: 0;
}
