@import "~bootstrap/dist/css/bootstrap.css";

:root {
  --background-dark: #14121F;
  --text-dark: #E2DDFE;
  --bg-component-dark: #291F43;
  --border-component-dark: #473876;
}

.App {
  /* text-align: center; */
  background-color: var(--background-dark);
}

.title {
  font-family: "Hanken Grotesk", sans-serif;
}

.dark-text {
  color: var(--text-dark);
  margin: 0;
}

div {
  margin: 0;
}

.presentation {
  min-height: calc(100vh - 40px - 32px);
}

.card {
  background-color: var(--bg-component-dark);
  border: 2px solid var(--border-component-dark);
}
